* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header {
  background-color: #3498db;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    min-width: 1000px;
    justify-content: start;
  }

  .nav {
    padding: 16px 0;

    @media (min-width: 768px) {
      max-width: 1000px;
      margin-left: 100px;
    }

    .ul {
      display: flex;
      column-gap: 20px;
      list-style: none;

      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
}

.main {
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    margin: 20px 100px;
    padding: 30px;
    max-width: 1280px;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
  }

  > p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 28px;
  }

  .img {
    width: 138px;
    border: 4px solid;
    border-radius: 20%;
    margin-bottom: 25px;
  }

  .container-buttons {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 25px;
    justify-content: center;

    .btn-image {
      background-color: #3498db;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      border: 0;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 220ms, transform 220ms;

      &:active {
        transform: translate(0.8px, 0.8px);
      }

      &.selected {
        background-color: #ff851b;
      }
    }

    .container-file {
      input[type='file'] {
        display: none;
      }
    }
  }

  .container-radio-with {
    margin-bottom: 16px;
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;

      p {
        font-size: 14px;
        margin-bottom: 12px;
      }

      &:first-child {
        border-right: 1px solid rgb(196, 196, 196);
      }

      input {
        width: 70%;
      }

      #input-radio {
        accent-color: #ff851b;
      }
    }
  }
}

.container-color {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  input {
    padding: 0 2px;
  }
}
